*{
    font-family: Arial, Helvetica, sans-serif;
}
html{
    height: 100%;
    width: 100%;
}

.div-popular {
    position: static;
    top: 15px;
    background-color: white;
    color: #aa4dc8;
    padding: 5px 10px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.246);
}

p.es{
    margin-top: 20%;
}
.tabela th strong{
    color: black;
    font-size: 36px;
}

.tabela th sup{
    font-size: 16px;
}

#table-wix{
    width: 400px;
    margin: auto;
    border-collapse: collapse;
}

#table-wix th{
    border: 1px solid black;
    padding: 10px 0px;
    min-width: 120px;
    text-align: center;
}
#table-wix td{
    border: 1px solid black;
    padding: 10px 0px;
    min-width: 300px;
    text-align: center;
}
#table-wix tbody td:nth-child(3){
    background-color: #dfdfdf;
}
#table-wix th:nth-child(3){
    background-color:#dfdfdf;
}


